@model ZOI.BAL.Models.BankMaster
@using ZOI.BAL.Utilites

@{
    ViewData["Title"] = "Add Update Bank";
    ViewData["ActionTitle"] = "Back";
    ViewData["ActionIcon"] = "zmdi-arrow-back";
    ViewData["ActionId"] = "btn_back";
}

<style>

    .btn-danger {
        background-color: transparent !important;
        color: #ef5350 !important;
    }

    .btn-info {
        background-color: transparent !important;
        color: #FFF !important;
    }

    .checkbox .checkbox-material, label.checkbox-inline .checkbox-material {
        vertical-align: middle;
        position: relative;
        top: 3px;
        padding-left: 15px!important;
    }
    

    .field-validation-error {
        color: red;
        position: absolute;
        margin: -10px 0 0 !important;
        font-size: smaller;
    }
</style>

<!-- #region Loader -->
<div class="text-center chart-loader">
    <div class="loader1">
        <span></span><span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- #endregion -->



<div class="modal fade" id="notification_modal" tabindex="-1" role="dialog" style="display:none" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" id="notification_modal_body">
                <div class="row">
                    <div class="col-sm-1" style="margin-left:30px">
                        <div class="leftside">
                            <span style="margin:9px" class="zmdi zmdi zmdi-check-circle zmdi-hc-2x"></span>
                        </div>
                    </div>
                    <div class="col-sm-9" style="margin-top: -8px;">
                        <div class="rightside">
                            <h2 id="notification"></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        @* <button type="button" class="btn btn-info" data-dismiss="modal">No</button>*@
                        <button type="button" data-dismiss="modal" class="btn btn-info btn-flat">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<form>
    <div id="div_form" class="container-fluid" style="display: none;margin-top: 40px;">
        <div class="content-body">
            <div class="card p-t-20">
                <div class="card-body">
                    <div class="row md-file-upload text-center" style="margin-bottom: 21px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            @if (Model.Logo == null)
                            {
                                <img src="~/Material Design/images/user_avatar.png" class="img-show" alt="" id="company_logo" style="height:200px;width:200px;margin-top:-22px" />
                            }
                            else
                            {
                                <img src="~/NewFolder/@Model.Logo" class="img-show " alt="" id="company_logo" style="height:200px;width:200px;margin-top:-22px" />
                            }

                            @Html.HiddenFor(e => e.Logo, new { @id = "txt_logo" })
                            <input type="file" id="file_logo" asp-for="@Model.LogoFIle" class="fileUpload" style="display:none" />
                            <br />
                            @Html.ValidationMessageFor(e => e.Logo)
                            <span id="val_file_logo" class="text-center" style="color:red" hidden="hidden"></span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="row" style="text-align:left">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group is-empty">
                                        @Html.LabelFor(e => e.Name)<sup style="float:left; margin-left:4em;margin-top: -15px;color: red;">*</sup>
                                        @Html.TextBoxFor(e => e.Name, htmlAttributes: new { @class = "form-control", @id = "txt_name" })
                                        @Html.ValidationMessageFor(e => e.Name)
                                        @Html.HiddenFor(e => e.Id, htmlAttributes: new { @class = "form-control" })
                                        <span class="txt_name field-validation-error" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label>
                                                @Html.LabelFor(e => e.IsActive)
                                                @Html.CheckBoxFor(e => e.IsActive, htmlAttributes: new { @class = "checkbox" })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin:10px;">

                                    @if (Model.Id != 0)
                                    {
                                        <input type="button" id="btn_update" class="btn btn-success" value="Update" />
                                    }
                                    else
                                    {
                                        <input type="button" id="btn_add" class="btn btn-success" value="Add" />
                                        <input type="button" class="btn btn-warning" id="btn_reset" value="Reset" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{

    <script>
        var valid = false;
        $(document).ready(function () {
            $(".chart-loader").attr("style", "display:none");
            $("#ddl_rta").select2({
                theme: "material",
            });
            $("#div_form").show();

            $("#btn_back").click(function () {
                window.location.href = "@Url.Action("SummaryView")"
            });

            $("#btn_reset").click(function () {
                $("#div_form").trigger("reset");
            });

            $("#btn_add").click(function () {
                if ($("form").valid()) {
                    $(".chart-loader").show();
                    var object = $("form").serializeArray();
                    var json = {};
                    $.each(object, function () {
                        if (json[this.name] == undefined) {
                            json[this.name] = this.value;
                        }
                    });
                      getAjax("@Url.Action("AddUpdate")", json,
                          function (result) {
                            switch (result.status) {
                                case "S":
                                    var file = $("#file_logo").get(0).files;
                                    var data = new FormData;
                                    data.append("LogoFile", file[0]);
                                    data.append("ID", result.data);
                                    $.ajax({
                                        type: "post",
                                        url: "@Url.Action("UploadLogo")",
                                        data: data,
                                        dataType: "JSON",
                                        contentType: false,
                                        processData: false,
                                        success: function (result) {
                                            if (result.status == "S") {
                                                window.localStorage.setItem("Message", result.message);
                                                window.location.href = "@Url.Action("SummaryView")"
                                            } else {
                                                $("#notification").text(result.message);
                                                $("#notification").removeClass().addClass("alert alert-success").show();
                                                 setTimeout(function() {
                                                    $('#notification').slideUp("slow");
                                                  }, 3000);
                                            }
                                        },
                                        error: function (error) {
                                            alert("No returen")
                                        }
                                    });
                                case "F":
                                    $("#notification").empty().text(result.message);
                                    $("#notification_modal").modal("show").on(alignModal);
                                    setTimeout(function () {
                                        $('#notification_modal').slideUp("slow").modal("hide");
                                    }, 3000);
                                    Message = null;
                                    $(".chart-loader").hide();
                                    $("#div_form").show();
                                    break;
                                default:
                            }
                          },
                          function (request, error) {
                            alert(" Can't do because: " + error);
                        })
                }
            });

            $("#txt_name").on("change", function () {
                getAjax("@Url.Action("IsExstis")", { name: $("#txt_name").val() }, function (result) {
                    switch (result.status) {
                        case "S":
                            $(".txt_name").hide();
                            break;
                        case "F":
                            $(".txt_name").empty().text("The Name was already exsits.");
                            $(".txt_name").show();
                            break;

                        default:
                    }
                }, function (request, error) {
                    alert(" Can't do because: " + error);
                })
            });

            $("#btn_update").click(function () {
                if ($("form").valid()) {
                    $("#div_form").css("filter","opacity(30%)")
                    $(".chart-loader").show();
                    var object = $("form").serializeArray();
                    var json = {};
                    $.each(object, function () {
                        if (json[this.name] == undefined) {
                            json[this.name] = this.value;
                        }
                    });
                      getAjax("@Url.Action("AddUpdate")", json,
                          function (result) {
                            switch (result.status) {
                                case "S":
                                    var file = $("#file_logo").get(0).files;
                                    var data = new FormData;
                                    data.append("LogoFile", file[0]);
                                    data.append("ID", result.data);
                                    data.append("Logo", $("#txt_logo").val() );
                                    debugger;
                                    $.ajax({
                                        type: "post",
                                        url: "@Url.Action("UploadLogo")",
                                        data: data,
                                        dataType: "JSON",
                                        contentType: false,
                                        processData: false,
                                        success: function (result) {
                                            if (result.status == "S") {
                                                window.localStorage.setItem("Message", result.message);
                                                window.location.href = "@Url.Action("SummaryView")"
                                            } else {
                                                $("#notification").text(result.message);
                                                $("#notification").removeClass().addClass("alert alert-success").show();
                                                 setTimeout(function() {
                                                    $('#notification').slideUp("slow");
                                                  }, 3000);
                                            }
                                        },
                                        error: function (error) {
                                            alert("No returen")
                                        }
                                    });

                                case "F":
                                    $("#notification").empty().text(result.message);
                                    $("#notification_modal").modal("show").on(alignModal);
                                    setTimeout(function () {
                                        $('#notification_modal').slideUp("slow").modal("hide");
                                    }, 3000);
                                    Message = null;
                                    $(".chart-loader").hide();
                                    $("#div_form").show();
                                    break;
                                default:
                            }
                        }, function (request, error) {
                            //alert(" Can't do because: " + error);
                        })


                }
            });


            $("#company_logo").click(function () {
                $(".fileUpload").click();
            });


            $('.fileUpload').change(function () {
                var $this = $(this);
                var file = this.files[0];
                var fileType = file["type"];
                var validImageTypes = ["image/png"];
                var check = $.inArray(fileType, validImageTypes);
                if ($.inArray(fileType, validImageTypes) == 0) {
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var image = new Image();
                            image.src = e.target.result;
                            image.onload = function () {
                                var height = this.height;
                                var width = this.width;
                                if (height == 512 || width == 512) {
                                    $("#company_logo").show().attr('src', e.target.result);
                                    $("#val_file_logo").text("").hide();
                                    return true;
                                } else {
                                    $("#val_file_logo").text("Height and Width must be in 128px.").show();
                                    $('.fileUpload').val("");
                                    return false;
                                }
                            };
                        }
                        reader.readAsDataURL(this.files[0]);
                    } else {
                        $("#val_file_logo").text("Please select PNG valid image.").show();
                        $('.fileUpload').val("");
                    }
                }
                else {
                    $("#val_file_logo").text("Please selece BMP valid image.").show();
                    $('.fileUpload').val("");
                }
            });


            function alignModal() {
                var modalDialog = $(this).find(".modal-dialog");
                modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
            }


        });
    </script>
}
