@model ZOI.BAL.ViewModels.BankViewModel
@{
    ViewData["Title"] = "Bank Summary";
    @if (Model.CurrentMenuPermission.Write)
    {
        ViewData["ActionTitle"] = "Add Event";
        ViewData["ActionIcon"] = "zmdi-plus";
        ViewData["ActionId"] = "btn_add";
        ViewData["URL"] = Url.Action("Index");
    }
}

<div id="content" class="container-fluid" style="display: none">
    <div class="content-body">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    @if (Model.CurrentMenuPermission.ExportCSV || Model.CurrentMenuPermission.ExportExcel || Model.CurrentMenuPermission.ExportPDF)
                    {
                        <text>
                            <div class="dropdown col-3 pull-right">
                                <button type="button" class="btn btn-fab btn-fab-sm btn-success btn-flat dropdown-toggle" data-toggle="dropdown" data-placement="right" title="Action">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu btn-primary dropdown-menu-left">
                                    @if (Model.CurrentMenuPermission.ExportCSV)
                                    {
                                        <text>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("ExportData")?exportType=2">
                                                <i class="fa fa-download"></i>  Export CSV
                                            </a>
                                        </li>
                        </text>
                    }
                                    @if (Model.CurrentMenuPermission.ExportExcel)
                                    {
                                        <text>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("ExportData")?exportType=1">
                                                    <i class="fa fa-download"></i>  Export Excel
                                                </a>
                                            </li>
                                        </text>
                                    }
                                    @if (Model.CurrentMenuPermission.ExportPDF)
                                    {
                                        <text>
                                            <li>
                                                <a class="dropdown-item" href="@Url.Action("ExportData")?exportType=1">
                                                    <i class="fa fa-download"></i>  Export PDF
                                                </a>
                                            </li>
                                        </text>
                                    }
                                </ul>
                            </div>
                            </text>
                        }
                </div>
                <div class="row">
                    <div class="card-body">
                        <table id="tbl_masters" class="table table-striped  dt-responsive" cellspacing="0" style="width: 100%;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var Message = window.localStorage.getItem("Message");
            localStorage.removeItem("Message");
            
            if (Message != null) {
                show_notification(Message);
            } else {
                $("#notification_modal").hide();
            }
            DataTable();
        });


        //In this function used to fill the datatable by using the ajax call.
        function DataTable() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Summary")",
                data: {},
                success: function (result) {
                    // If the result status gives "S" as response means it move to the next process
                    if (result.status="S") {
                        $("#tbl_masters").dataTable({
                            processing: true,
                            data: result.data,
                            order: [],
                            columns: [

                                @if (Model.CurrentMenuPermission.Write)
                                 {
                                 <text>
                                    {
                                        "data": "name",
                                        "render": function (data, type, row) {
                                            var status_text = "",
                                                status = true;
                                            switch (row.isActiveText) {
                                                case "Active":
                                                    status_text = "<i class='zmdi zmdi-eye-off' ></i> Deactivate";
                                                    status = false;
                                                    break;
                                                case "InActive":
                                                    status_text = "<i class='zmdi zmdi-eye' ></i> Activate";
                                                    status = true;
                                                    break;
                                                default:
                                            }
                                            return `<div class="dropdown">
                                                           <button type="button" class="btn btn-fab btn-fab-sm btn-success btn-flat dropdown-toggle" data-toggle="dropdown" data-placement="right" title="Action">
                                                                <i class="fa fa-ellipsis-v"></i>
                                                           </button>
                                                            <ul class="dropdown-menu btn-primary dropdown-menu-left">
                                                                <li><a class="dropdown-item" href="@Url.Action("Update")?ID=` + row.id + `">
                                                                    <i class="fa fa-pencil-square-o"></i>  Edit </a>
                                                                </li>
                                                                <li><a class="dropdown-item" onclick="OpenModel(` + row.id +`,`+status +`)" style="cursor:pointer;">`+ status_text+`</a>
                                                                </li>
                                                            </ul>
                                                    </div>`;
                                        }
                                    },
                                    </text>
                                 }
                                 { 'data': "name",'title':'Name' },
                                 { 'data': "isActiveText",'title': 'Status'  },
                                 { 'data': "lastUpdatedDate", 'title': 'Last Updated' },
                            ]
                        })
                        $(".chart-loader").hide();
                        $("#content").css("filter", "opacity(100%)").show();
                    }
                    //  Else the it shows the error message.
                    else {
                        show_notification(result.message);
                        $(".chart-loader").hide();
                        $("#content").css("filter", "opacity(100%)").show();
                    }
                },
                error: function (request, error) {
                    show_notification("Something went wrong.");
                    $(".chart-loader").hide();
                    $("#content").css("filter", "opacity(100%)").show();
                }
            });
        }

        // This function is used to change the status.
        function Deactive(id, status) {
            $(".chart-loader").show();
            $("#content").css("filter", "opacity(30%)").show();
            getAjax("@Url.Action("ChangeStatus")", {ID:id,Status:status},
                function (result) {
                    // if the result status gives "S" then the Staus was changed successfully and reload the page
                    if (result.status = "S") {
                        window.localStorage.setItem("Message", result.message);
                        location.reload();
                    }
                    // else it sown the error message.
                    else {
                        show_notification(result.message);
                        $(".chart-loader").hide();
                        $("#content").css("filter", "opacity(100%)").show();
                    }
                }, function (request, error) {
                    show_notification("Something went wrong.");
                    $(".chart-loader").hide();
                    $("#content").css("filter", "opacity(100%)").show();
                });
        }

    </script>
}

